<a href="https://colab.research.google.com/github/fredbarry1/Python/blob/main/Date_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = input ("Input the date in format mm/dd/yyyy")
print(x)
s=x
month = s[:2]
day = s[3:5]
year = s[6:]
print("month =",month)
print("day =",day)
print("year =",year)

Input the date in format mm/dd/yyyy02/21/2024
02/21/2024
month = 02
day = 21
year = 2024

In [ ]:
s1='abcdefg'
s2='abdght'

for index in range(len(s1))"
  if "

In [ ]:
x=0
for i in range(1,-2,-1):
  x = x+1
print(x)

3