<a href="https://colab.research.google.com/github/fredbarry1/Python/blob/main/Months_Assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
L = [5,2,6,7,8]
L.sort()
print(L)

[2, 5, 6, 7, 8]

In [7]:
months ={1: "January", 2:"February", 3: "March"}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

In [14]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["jan","feb","march","april","may","june","july","august","sept","oct","nov","dec"]

for num in numbers:
  months[num] = names[num - 1]

print(months)

{1: 'jan', 2: 'feb', 3: 'march', 4: 'april', 5: 'may', 6: 'june', 7: 'july', 8: 'august', 9: 'sept', 10: 'oct', 11: 'nov', 12: 'dec'}

In [5]:
grades = {
    'Alice' : 91,
    'Bob':88,
    'Tracy':93,
    'Erik:':90
}

for key, value in grades.items():
  print(key,value)

Alice 91
Bob 88
Tracy 93
Erik: 90